* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






:root {
  --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
}










@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}










body {
  font-family: system-ui;
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  padding-left: 1rem;
  padding-right: 1rem;
  
}

a{
  color: var(--text-primary);
  text-decoration: none;
}

/* Títulos principales */
h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  text-wrap: balance;
}

h1 + p {
  text-wrap: balance;
}

/* Header */
header {
  border-bottom: 1px solid var(--border);
  background: var(--background);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-primary);
  }
}

form[role="search"] {
  background-color: var(--input-bg);
  width: 100vh;
  border: 2px solid;
  border-color: var(--border);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  gap: 0.5rem;
  
  &:focus-within{
    outline: auto;
  }
}

.category{
  width: 100vh;
}

.search-results{
  width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select{
  color: var(--text-primary);
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: var(--input-bg);
  border: none;
  border-radius: 0.5rem;
  
}

svg{
  color: #64748b;
}

input[type="text"] {
  color: var(--text-primary);
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
  border: none;
  width: 100vh;
  outline: none;
}



input[type="text"]::placeholder {
  color: #64748b;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;

}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  gap: 1rem;

  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/* Navegación del header a otras páginas */
nav {
  align-items: center;
  gap: 1rem;
  display: flex;

  a {
    text-decoration: none;
    color: var(--text-secondary);
    transition: color 0.2s;
    font-weight: 500;

    &:hover, &:focus {
      color: var(--primary);
      outline: none;
    }
  }
}

.container-links {
  display: flex;
  gap: 3rem;
  
  nav{
    gap: 2rem;
  }
}

/* Botones del Header */
.container-avatar a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #334155;
  color: var(--text-primary);
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  /* TODO */
}

#title-jobs{
  font-size: 2.5rem;
}

header > div{
    display: flex;
    gap: 1rem;
}

.job-listing-card{
  padding: 1.5rem;

  div{
    align-items: start;
    gap: 0.3rem;
    width: 100%;
  }
  
}

.jobs-listings{
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 1rem;

  article{
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin: 0;

    display: flex;
    align-items: start;
    gap: 1rem;

    small{
      font-size: .875rem;
      opacity: .75;
    }

    p {
      margin-top: 0.5rem;
    }

    &:last-child{
      border-bottom: none;
    }
    

  }
}

.button-apply-job{
  background-color: var(--primary-light);
  color: var(--text-primary);
  width: 5.5rem;
  height: 2.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;

  &.is-applied{
    background: #29572b;
    color:#94a3b8;
    pointer-events: none;
  }

  &:hover{
    background-color: var(--primary-hover);
    border-color: whitesmoke;
  }

  &:active{
    transform: scale(0.90);
  }
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-block: 2rem;

  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
    color: var(--text-muted);
    border-radius: 0.375rem;
    transition: all .3s;

    &:hover, &:focus{
      background-color: #fff;
    }

    &:active{
      transform: scale(0.90);
    }

    &.is-active{
      background-color: var(--primary-light);
      color: white;
      pointer-events: none;
    }
  }

  button{
    background-color: var(--primary-light);
    color: var(--text-primary);
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 0.5rem;
    transition: all .3s;
    cursor: pointer;

    &:hover{
      background-color: var(--primary-hover);
    }

    &:active{
      background-color: var(--primary-light);
      transform: scale(0.90);
    }
  }
}

.path-job{
  display: flex;
  flex-direction:row;
  width:100vh;
  justify-content: left;
  color: var(--text-muted);

  a{
    color: var(--text-muted);
  }
  p{
    color: var(--text-primary);
  }
}

.title-job{
  display: flex;
  flex-direction: row;
  gap: 10rem;
  width: 100vh;

  p{
    color: var(--text-muted);
  }

  button{
    background-color: var(--primary-light);
    color: var(--text-primary);
    height: 2.5rem;
    width: 7.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: all .3s;
    cursor: pointer;
    font-weight: bold;

    &:hover{
      background-color: var(--primary-hover);
    }

    &:active{
      background-color: var(--primary-light);
      transform: scale(0.90);
    }
  }

}

.contain-description{
  display: flex;
  width: 100vh;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 5rem;
  div{
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    p{
      display: flex;
      align-items: center;
      gap:0.5rem
    }
  }
}
